@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ccc9c9;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.parent {
  background-color: blue;
  height: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.child{
  background-color: rgb(30, 179, 45);
  height: 50%;
}
